[Unit]
Description=Monitor systemd services, try to recover failed services, and send email alerts

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor-services.sh
